%h1= "Filter"

= search_form_for @search do |f|
    .field
    = f.label :name_cont, "Name contains"
    = f.text_field :name_cont
    .actions
    = f.submit "Search"

%hr
    -@counties.each do |county|
        %p
        %br
        =county.name
        %hr
        -county.regions.each do |region|
            %br
            =region.name


